
@{ ViewData["Title"] = "AboutUs"; }
<style>
    body{
        background-color:aqua;
    }
    h1{
        text-align:center;
        font-size:larger;
        font-family:'Baskerville Old Face';
        color:darkblue;
    }
    h2{
        font-size:large;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:darkolivegreen;
    }
    p{
        font-size:medium;
        font-family:'Arial Rounded MT';
        color:darkgreen;
    }
</style>
<h1>Company Name : Prince Purse</h1>
<br />
<h2>Founder : Akshit Mehta</h2>
<h2>Corporate Headquarters: Canada</h2>

<h2>Number of Employees : 235</h2>
<br />

<p>
    About company : Coasters factory is located in Windsor, Canada. We are well-known purse company of Canada since 2004. Currently, we are 4th largest purse company of Canada.
</p>
<br />


<h2>    **Company History: Prince Purse (2004 - Present)**</h2>
    <p>
    Founded in 2004 in Windsor, Ontario, Canada, Prince Purse has evolved into a symbol of timeless fashion and sophistication. Its visionary founder, Catherine Windsor, sought to fill a market gap by creating premium handbags that combined elegance with practicality. In 2006, the "Windsor Collection" was launched, drawing inspiration from the city's regal history and catapulting the brand into the spotlight. Prince Purse's commitment to local craftsmanship and global appeal led to the establishment of its own manufacturing facility in Windsor and expansion beyond Canadian borders. In 2010, the company embraced sustainability with the "Green Chic" collection, while 2014 saw the introduction of the iconic "Windsor Rose" design. The opening of a flagship boutique in 2016 marked a new era, and by 2018, Prince Purse had boutiques in major fashion capitals globally. As it celebrated its 17th anniversary in 2021, Prince Purse remained a symbol of grace and style, with every handbag telling a story of Windsor's enduring spirit.
</p>