@{
    ViewData["Title"] = "Privacy Policy of Our Company";
}
<body>
    <h1>@ViewData["Title"]</h1>

    <style>
        body {
            background-color: aqua;
        }
        h1{
            color:darkblue;
        }
        p{
            color:darkgreen;
        }
    </style>
    <p>We do not share customer's data with any third-party compnay'.</p>
</body>